@media screen and (max-width: 700px) {
    main {
        grid-template-columns: 1fr !important;
    }
    img {
        max-width: 100%;
    }
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    background-color: #4da7a3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}


main {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    background-image: linear-gradient(to bottom right, #cdce71, #a2ece9);
}

.column-wrapper {
    max-width: 100%;
}

.book-wrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    column-width:100%;
}

.image-wrapper {
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(75, 190, 134, 0.77);
    
}

img:hover {
    transform: rotateZ(-10deg);
}

button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    background-color: #4ab6b0;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width 10s ease-in-out;
}

button:hover {
    background-color: #3f8986;
    width: 130px;
    height: 60px;
}

button:active {
    background-color: #a8c553ca;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
}