@media screen and (max-width: 700px) {
    body main div.work-wrapper {
        display:grid; 
        grid-template-columns: 1fr;
    }
    img {
        width: 100%;
    }
}

body {
    margin: 0;
}

header {
    display:grid; 
    grid-template-columns: 1fr 1fr; 
    background-color: rgba(147, 199, 228, 0.601);
    color: rgb(255, 255, 255);
}

header div.logo-wrapper {
    padding-left: 15px;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    text-align: left;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

h3 {
    color: rgb(255, 255, 255);
}

header div.nav-wrapper {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 100%;
    background-color: rgba(147, 199, 228, 0.601);
}

header div.nav {
    text-align: center;
    padding : 20px 16px;
}

header div.nav a {
    text-decoration: none;
    color: white;
}

header div.nav a:hover {
    color:rgb(102, 130, 145);
}

main {
    background-color: #7592b0d3;
}

main div.intro-wrapper {
    background-image: linear-gradient(to right, #fce1ed , #bad1ed);
    background-image: url("assets/changedpixelart.png");
    background-size: cover;
    padding: 200px;
}

#introtext {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    text-align: center;
}

#portfolio {
    text-align: center;
}

main div.work-wrapper {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

main div.project-wrapper:hover img {
    transition: opacity 0.5s ease;
    opacity: 0.2;
    transform: scale(1.1);
}

main div.project-wrapper:hover .text-wrapper {
    opacity: 1;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

main div.text-wrapper {
    position: relative;
    bottom: 50%;
    opacity: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: black 0px 3px 3px;
    color: white;
}

h6 {
    padding: 10px;
}


#about {
    background-image: linear-gradient(to right, #f8c6be , #a6c3e7);
    text-align: center;
    padding: 5px;
}

main div.about-wrapper {
    display:grid; 
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(108, 101, 101);
}


footer div.contact-wrapper {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

footer div.email-wrapper {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

footer div.follow-wrapper {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
}